# Thư mục biên dịch tạm thời
bin/
obj/
out/

# File Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vsidx
*.vsix
*.vspx
*.cache
*.ncb
*.opendb
*.sdf

# File log
*.log
*.tlog
*.log.*

# Kết quả test
TestResults/
*.trx

# File lock của .NET
project.lock.json
project.assets.json
source/.vs/GeckoMessenger/CopilotIndices/17.13.431.34963/CodeChunks.db
source/.vs/GeckoMessenger/CopilotIndices/17.13.431.34963/SemanticSymbols.db
source/Messenger/obj/Debug/Messenger_MarkupCompile.i.cache
